@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
  --primary-color: #77529e;
}


body {
  margin: 0;
  font-family: "Roboto Slab", serif !important;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-content {
  position: relative;
  min-height: 100vh;
}

/* header */

.basic-navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #c8b6ff;
  font-weight: bold;
}

.navbar-link {
  color: var(--primary-color) !important;
}

.navbar {
  /* margin-top: 200px; */
}

@media (max-width:990px) {
  .navbar {
    margin-top: 0
  }
}

/* about me section */

.about-me {
  padding: 5rem;
  color: #333;
}

.about-me h1, h2 {
  color: #333;
  margin-bottom: 1rem;
}

.about-me__title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--primary-color)
}

.about-me__image-container {
  text-align: center;
  margin-bottom: 2rem;
}

.about-me__image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.about-me__details {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 20px;
}

.about-me__points {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  font-size: 20px;
}

.about-me__points li {
  margin-bottom: 1rem;
}

.github-container {
  text-align: center;
  margin-top: 2rem;
}

.github-container .btn {
  margin: 0 10px;
}

.skills {
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-list li {
  margin: 5px;
}

.skills-list .btn {
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.skills-list li {
  list-style: none;
}

.about-me__image {
  transition: transform 0.3s ease-in-out;
}

.about-me__image:hover {
  transform: scale(1.05);
}

.btn {
  transition: background-color 0.3s ease-in-out, transform 0.2s ease;
}

.btn:hover {
  background-color: var(--primary-color) !important;
  color: #fff;
  transform: translateY(-2px);
}

/* social media */

.page-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 10%;
  width: 100%;
  height: 100px;
}

/* main page */

.profile__portrait {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media (max-width: 750px) {
  .profile__portrait {
    margin-bottom: 50px
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.main-page {
  padding: 6rem 0 6rem;
  font-size: 1.5rem;
}

/* projects */

.projects-section {
  /* padding: 4rem 0; */
  background-color: #f8f9fa;
  text-align: center;
  padding-bottom: 150px
}

.work-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  color: #333;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  /* gap: 2rem; */
  justify-content: center;
}

.grid-item {
  /* flex: 1 1 30%; */
  margin-bottom: 2rem;
}

.project-card {
  font-size: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: left;
  transition: transform 0.2s ease;
  width: 500px;
  height: 700px;
}

.project-card:hover {
  transform: translateY(-10px);
}

.grid-item__title a {
  color: #007bff;
  text-decoration: none;
  font-size: 1.5rem;
}

.grid-item__title a:hover {
  color: #0056b3;
}

.grid-item__details {
  margin: 1rem 0;
  color: #555;
}

.work-images {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: opacity 0.2s ease;
}

.work-images:hover {
  opacity: 0.85;
}

.grid-item__link {
  margin-top: 1rem;
}

.grid-item__link a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.grid-item__link a:hover {
  color: #218838;
}
